<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User dashoard</title>
</head>
<body>

	<section>
		<div class="card">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				<div class="search-container my-4" >
				
				
				<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search Your Contacts" />
				
				<div class="search-result">
				
				<h2>This is search result</h2>
				</div>
				</div>
				
				<div class="table-responsive">

				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th th:text="SCMUSER+ ${c.id}">1</th>
							<td><img src="" class="my_profile_picture"
								th:src="@{'/image/'+${c.imageUrl}}" alt="profile photo" /> <span
								th:text="${c.name}"></span></td>
							<td><a href="" th:href="@{'/user/contact/'+${c.id}}"> <span
									th:text="${c.email}"></span>
							</a></td>
							<td th:text="${c.phNo}"></td>
							<td><a href="#" th:onclick="|deleteContact(${c.id})|"
								class="btn btn-danger btn-small">Delete</a>
								<form th:action="@{'/user/update-contact/'+${c.id}}"
									class="mt-2" method="post">
									<button type="submit" class="btn btn-primary btn-small">Update</button>
								</form></td>
						</tr>
					</tbody>
				</table>
</div>

				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentpage != 0}" class="page-item"><a
							th:href="@{'/user/show-contacts/'+${currentpage-1}}"
							class="page-link" href="#">Previous</a></li>


						<li th:classappend="${currentpage==i-1 ? 'active':''}"
							th:each="i : ${#numbers.sequence(1,totalpages)}"
							class="page-item"><a
							th:href="@{'/user/show-contacts/'+${currentpage+1}}"
							class="page-link" href="#"> <span th:text="${i}"></span>
						</a></li>


						<li th:if="${currentpage+1 != totalpages}" class="page-item"><a
							class="page-link" href="#">Next</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</section>


</body>
</html>