<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>

	<section>
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 220px" class="col-md-12">
							<div th:if="${session.message}" class="container">
								<div th:classappend="${'alert-'+session.message.type}"
									class="alert  text-center" role="alert">
									<span th:text="${session.message.content}"> </span>


								</div>
								<th:block th:text="${#session.removeAttribute('message')}">
								</th:block>

							</div>
							<h3 class="text-center">Your Registered Email</h3>



							<form action="" th:action="@{/send-otp}">

								<div class="form-group">



									<input name="email" type="email" placeholder="Enter email here"
										required class="form-control">








								</div>


								<div class="container text-center ">
									<br />
									<button type="submit" class="btn btn-warning ">Send
										OTP</button>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>
</html>